/***************************
 *
 ***************************/

/***************************
 * general
 ***************************/

body {
    margin: 0px;
    padding: 0px;i
    background: #eee;
}

/***************************
 * left panel
 ***************************/

#left-button {
    background: #5e5e5e;
    margin-left: 300px;
    outline: none;
}

#nav-menu {
    background-color: #5e5e5e;
    position: absolute;
    left: -300px;
    top: 0;
    height: 100%;
    width: 300px;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 1s;
    transform-origin: 0px 0px;
    transform: translate(0px, 0);
}

#nav-menu.is-active {
    -webkit-transition: -webkit-transform 2s;
    transition: transform 1s;
    transform: translate(300px, 0);
}

#nav-header {
    height: 50px;
    width: 100%;
    background: #7eb550;
    padding: 0px;
    margin: 0px;
}

/***************************
 * title
 ***************************/

.title {
    color: #fff;
}

.title > p {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
}


/***************************
 * info user
 ***************************/

#profile-pic {
}

.round {
}
